**/.vs/
**/*.csproj.user
packages/
**/packages.config
obj
0Bins/
bin
*.user
.idea
**/build/
.vscode
*.blend1
launchSettings.json
.DS_Store
# Ghidra installed locally by Ghidra.bat / Ghidra.sh
/ghidra/
ghidra_*_PUBLIC_*.zip
