<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
      <string>metal</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTPlatformVersion</key>
    <string>18.1</string>
    <key>UILaunchStoryboardName~iphone</key>
    <string>LaunchScreen-iPhone</string>
    <key>DTSDKName</key>
    <string>iphoneos18.1</string>
    <key>CFBundleName</key>
    <string>JellyBlast</string>
    <key>UILaunchStoryboardName~ipad</key>
    <string>LaunchScreen-iPad</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>DTAppStoreToolsBuild</key>
    <string>16F7</string>
    <key>CADisableMinimumFrameDuration</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>facebook-unity-sdk</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb1074942461409335</string>
        </array>
      </dict>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiresPersistentWiFi</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>Jelly Blast</string>
    <key>DTSDKBuild</key>
    <string>22B74</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UILaunchStoryboardName~ipod</key>
    <string>LaunchScreen-iPhone</string>
    <key>BuildMachineOSBuild</key>
    <string>24B2082</string>
    <key>DTPlatformBuild</key>
    <string>22B74</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>16B40</string>
    <key>UIPrerenderedIcon</key>
    <false/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>0</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>FacebookAppID</key>
    <string>1074942461409335</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen-iPhone</string>
    <key>CFBundleIdentifier</key>
    <string>io.heseri.blast</string>
    <key>DTXcode</key>
    <string>1610</string>
    <key>FacebookClientToken</key>
    <string>2320d475f3b312d666fad27cc5ef5ad8</string>
    <key>CFBundleExecutable</key>
    <string>JellyBlast</string>
    <key>Unity_LoadingActivityIndicatorStyle</key>
    <integer>-1</integer>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <false/>
  </dict>
</plist>
